<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="agent_lifeRestart, an agent-life simulation built from Life Restart."/>
        <meta name="keywords" content="agent_lifeRestart, agent life simulation, liferestart, life restart"/>
        <title>agent_lifeRestart</title>
        <script language="javascript" type="text/javascript">
            window.location.href="/public/index.html";
        </script>
    </head>
</html>
